<footer class="bg-dark text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Kontakt</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <div class="text-light">Name des Unternehmens</div>
          </li>
          <li>
            <div class="text-light">Straße und Hausnummer</div>
          </li>
          <li>
            <div class="text-light">PLZ und Ort</div>
          </li>
          <li>
            <div class="text-light">Land</div>
          </li>
          <li>
            <div class="text-light">Telefon: +49 123 456789</div>
          </li>
          <li>
            <div class="text-light">E-Mail: kontakt@beispiel.com</div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Allgemeine Geschäftsbedingungen</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <div class="text-light">AGB</div>
          </li>
          <li>
            <div class="text-light">Impressum</div>
          </li>
          <li>
            <div class="text-light">Datenschutzerklärung</div>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Öffnungszeiten Laden</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <ul class="list-unstyled mb-0 text-light">
              <li>Montag - Freitag: 9:00 - 18:00 Uhr</li>
              <li>Samstag: 9:00 - 14:00 Uhr</li>
              <li>Sonntag: Geschlossen</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-light">Öffnungszeiten Restaurant</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <ul class="list-unstyled mb-0 text-light">
              <li>Montag - Freitag: 9:00 - 18:00 Uhr</li>
              <li>Samstag: 9:00 - 14:00 Uhr</li>
              <li>Sonntag: Geschlossen</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">